h1 {
  color: blue;
}

body {
  background-color: Yellow;
  text-align: center;

}

#display {
  height: 100px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: 50px;
  font-size: 30pt;

}
